body{
    background-image: url('/image/background-cork.png');
    background-repeat: repeat;
    font-family: 'Annie Use Your Telescope', cursive;
}

.times-font{
    font-family: "Times New Roman";
    display:inline;
}